<!--
<div class="topbar-dl hidden-phone">
  <div class="top-left">
    <a href="/pages/neu">
      <img
        style="width:18px;height:22px;margin-right: 4px;"
        src="https://cdn.shopify.com/s/files/1/0606/6277/6063/files/lynibox.svg">
      <b>Neue Produkte: </b>Lynibox, neue Ombre Gele & Cat Eyes ♥️
    </a>
  </div>
<div class="top-right">
    <a href="/pages/werkzeug-sale-1">
      <img
        style="width:18px;height:23px;margin-right: 4px;"
        src="https://cdn.shopify.com/s/files/1/0606/6277/6063/files/sale.svg">
      <b>Werkzeug & Zubehör SALE 🥳 </b>Jetzt bis zu 20% sparen!</a>
  </div>
</div>
-->
<style>
   .topbar-dl {
    display: flex;
    max-width: fit-content;
    margin: 0 auto;
    padding: 5px;
  }

  .top-left,
  .top-right {
    border-radius: 5px;
    padding: 2px 10px 0px;
    margin: 0 5px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    background:#ffffff17;
    border: 1px solid #362f2f36;
  }

  .top-left a,
  .top-right a {
    text-decoration: none;
    color: inherit;
    display: block; /* Stellt sicher, dass der Anchor-Tag sich wie ein Block verhält */
  }

  .top-left:hover,
  .top-right:hover {
    opacity: 0.7;
  }
</style>
