<!--
<div class="mobile_bar">
  <div class="mbar-links">
    <a href="/pages/neu">
      <div class="icon-mbar-text">
        <div class="icon-container">
          <img
            src="https://cdn.shopify.com/s/files/1/0606/6277/6063/files/lynibox.svg"
            style="width:18px;height:22px;margin-right:4px;"
            alt="Neue Produkte">
        </div>
        <div class="mbar-text">
          <b>NEUE PRODUKTE</b><br>
          LyniBox, Ombre Gele...
        </div>
      </div>
    </a>
  </div>

  <div class="mbar-rechts">
    <a href="/pages/werkzeug-sale-1">
      <div class="icon-mbar-text">
        <div class="icon-container">
          <img
            src="https://cdn.shopify.com/s/files/1/0606/6277/6063/files/sale.svg"
            style="width:18px;height:23px;margin-right:4px;"
            alt="Werkzeug & Zubehör SALE">
        </div>
        <div class="mbar-text">
          <b>Werkzeug & Zubehör SALE</b><br>
          Jetzt 20% sparen!🥳
        </div>
      </div>
    </a>
  </div>
</div>
-->
<style>
  .mbar-links {
    background: #cee1ce;
    margin-left: 15px;
  }

  .mbar-rechts {
    background: #ca7b54;
  }


  .mobile_bar {
    display: contents;
    font-family: "Rajdhani", sans-serif;
    font-size: 12px;
  }

  .mbar-links, .mbar-rechts {
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
    flex: 1;
    font-weight: 500;
    line-height: 13px;
    text-align: center;
  }

  .mbar-links a, .mbar-rechts a {
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-mbar-text {
    display: flex;
    align-items: center;
  }

  .icon-container {
    margin-right: 5px;
  }

  .mbar-text {
    text-align: left;
    white-space: nowrap;
  }

  .mbar-links:hover, .mbar-rechts:hover {
    opacity: 0.7;
  }
</style>
