{% assign badgeValues = product.metafields.custom.badge.value %}

{% if badgeValues != blank %}
<div class="ed-badge-container">
    {% for badgeValue in badgeValues %}
        <div class="ed-badge" style="background-color: {{ color_badge }}; color: {{ color_badge_text }}">
            {{ badgeValue }}
        </div>
    {% endfor %}
</div>
{% endif %}