{% if settings.reservation_label_text != blank %}
    <div class="cart-reservation-label">
        <div class="label-container">
            {% render 'icon' with 'reservation-icon' %}
            <span class="reservation-text">
            {{ settings.reservation_label_text }}
        </span>
        </div>
    </div>
{% endif %}

<style>
    .cart-reservation-label .label-container svg g path {
        fill: {{ settings.reservation_label_icon }} !important;
    }
</style>