<div class="ed-ModelView">
  <label class="ed-ModelViewToggle" data-module="model-view">
    <span class="ed-ModelViewToggle_Label">{{ 'collection.general.model_view' | t }}</span>
    <input
      id="ed-model-view-input"
      class="ed-ModelViewToggle_Input ed-model-view-input"
      type="checkbox"
      data-el="model-view.input"
      data-adtribute-listener="true"
    >
    <span class="ed-ModelViewToggle_Outer" style="background-color: {{ section.settings.checkfield_color }}">
      <span class="ed-ModelViewToggle_Inner"></span>
    </span>
  </label>
</div>
