{% if settings.show_teaser_on_collection %}
  {% if product.metafields.standard.product_teaser != blank %}
    <span
      class="ed-product-teaser-on-collection"
      {% if settings.color_teaser_on_collection %}
        style="color: {{ settings.color_teaser_on_collection }}"
      {% endif %}
    >
      {{- product.metafields.standard.product_teaser.value -}}
    </span>
  {% endif %}
{% endif %}
