
    
    <style {% if section.settings.section_preload == "false" %} class="gps-link gps-style" type="text/disabled-css" {% endif %}>.gps-550611595030430512.gps.gpsil [style*="--bg:"]{background:var(--bg)}.gps-550611595030430512.gps.gpsil [style*="--bga:"]{background-attachment:var(--bga)}.gps-550611595030430512.gps.gpsil [style*="--bgc:"]{background-color:var(--bgc)}.gps-550611595030430512.gps.gpsil [style*="--bgi:"]{background-image:var(--bgi)}.gps-550611595030430512.gps.gpsil [style*="--bgp:"]{background-position:var(--bgp)}.gps-550611595030430512.gps.gpsil [style*="--bgr:"]{background-repeat:var(--bgr)}.gps-550611595030430512.gps.gpsil [style*="--bgs:"]{background-size:var(--bgs)}.gps-550611595030430512.gps.gpsil [style*="--b:"]{border:var(--b)}.gps-550611595030430512.gps.gpsil [style*="--bb:"]{border-bottom:var(--bb)}.gps-550611595030430512.gps.gpsil [style*="--bc:"]{border-color:var(--bc)}.gps-550611595030430512.gps.gpsil [style*="--bblr:"]{border-bottom-left-radius:var(--bblr)}.gps-550611595030430512.gps.gpsil [style*="--bbrr:"]{border-bottom-right-radius:var(--bbrr)}.gps-550611595030430512.gps.gpsil [style*="--bs:"]{border-style:var(--bs)}.gps-550611595030430512.gps.gpsil [style*="--bt:"]{border-top:var(--bt)}.gps-550611595030430512.gps.gpsil [style*="--btlr:"]{border-top-left-radius:var(--btlr)}.gps-550611595030430512.gps.gpsil [style*="--btrr:"]{border-top-right-radius:var(--btrr)}.gps-550611595030430512.gps.gpsil [style*="--bw:"]{border-width:var(--bw)}.gps-550611595030430512.gps.gpsil [style*="--shadow:"]{box-shadow:var(--shadow)}.gps-550611595030430512.gps.gpsil [style*="--c:"]{color:var(--c)}.gps-550611595030430512.gps.gpsil [style*="--cg:"]{-moz-column-gap:var(--cg);column-gap:var(--cg)}.gps-550611595030430512.gps.gpsil [style*="--ff:"]{font-family:var(--ff)}.gps-550611595030430512.gps.gpsil [style*="--size:"]{font-size:var(--size)}.gps-550611595030430512.gps.gpsil [style*="--weight:"]{font-weight:var(--weight)}.gps-550611595030430512.gps.gpsil [style*="--gtc:"]{grid-template-columns:var(--gtc)}.gps-550611595030430512.gps.gpsil [style*="--jc:"]{justify-content:var(--jc)}.gps-550611595030430512.gps.gpsil [style*="--ls:"]{letter-spacing:var(--ls)}.gps-550611595030430512.gps.gpsil [style*="--lh:"]{line-height:var(--lh)}.gps-550611595030430512.gps.gpsil [style*="--tdt:"]{text-decoration-thickness:var(--tdt)}.gps-550611595030430512.gps.gpsil [style*="--tdl:"]{text-decoration-line:var(--tdl)}.gps-550611595030430512.gps.gpsil [style*="--m:"]{margin:var(--m)}.gps-550611595030430512.gps.gpsil [style*="--mb:"]{margin-bottom:var(--mb)}.gps-550611595030430512.gps.gpsil [style*="--mt:"]{margin-top:var(--mt)}.gps-550611595030430512.gps.gpsil [style*="--op:"]{opacity:var(--op)}.gps-550611595030430512.gps.gpsil [style*="--o:"]{order:var(--o)}.gps-550611595030430512.gps.gpsil [style*="--pc:"]{place-content:var(--pc)}.gps-550611595030430512.gps.gpsil [style*="--p:"]{padding:var(--p)}.gps-550611595030430512.gps.gpsil [style*="--pb:"]{padding-bottom:var(--pb)}.gps-550611595030430512.gps.gpsil [style*="--pl:"]{padding-left:var(--pl)}.gps-550611595030430512.gps.gpsil [style*="--pr:"]{padding-right:var(--pr)}.gps-550611595030430512.gps.gpsil [style*="--pt:"]{padding-top:var(--pt)}.gps-550611595030430512.gps.gpsil [style*="--ta:"]{text-align:var(--ta)}.gps-550611595030430512.gps.gpsil [style*="--t:"]{transform:var(--t)}.gps-550611595030430512.gps.gpsil [style*="--w:"]{width:var(--w)}.gps-550611595030430512.gps.gpsil [style*="--line-clamp:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp);display:-webkit-box;overflow:hidden}@media only screen and (max-width:1024px){.gps-550611595030430512.gps.gpsil [style*="--size-tablet:"]{font-size:var(--size-tablet)}.gps-550611595030430512.gps.gpsil [style*="--lh-tablet:"]{line-height:var(--lh-tablet)}.gps-550611595030430512.gps.gpsil [style*="--mb-tablet:"]{margin-bottom:var(--mb-tablet)}.gps-550611595030430512.gps.gpsil [style*="--pl-tablet:"]{padding-left:var(--pl-tablet)}.gps-550611595030430512.gps.gpsil [style*="--pr-tablet:"]{padding-right:var(--pr-tablet)}.gps-550611595030430512.gps.gpsil [style*="--w-tablet:"]{width:var(--w-tablet)}.gps-550611595030430512.gps.gpsil [style*="--line-clamp-tablet:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-tablet);display:-webkit-box;overflow:hidden}}@media only screen and (max-width:767px){.gps-550611595030430512.gps.gpsil [style*="--size-mobile:"]{font-size:var(--size-mobile)}.gps-550611595030430512.gps.gpsil [style*="--lh-mobile:"]{line-height:var(--lh-mobile)}.gps-550611595030430512.gps.gpsil [style*="--mb-mobile:"]{margin-bottom:var(--mb-mobile)}.gps-550611595030430512.gps.gpsil [style*="--pb-mobile:"]{padding-bottom:var(--pb-mobile)}.gps-550611595030430512.gps.gpsil [style*="--pl-mobile:"]{padding-left:var(--pl-mobile)}.gps-550611595030430512.gps.gpsil [style*="--pr-mobile:"]{padding-right:var(--pr-mobile)}.gps-550611595030430512.gps.gpsil [style*="--pt-mobile:"]{padding-top:var(--pt-mobile)}.gps-550611595030430512.gps.gpsil [style*="--w-mobile:"]{width:var(--w-mobile)}.gps-550611595030430512.gps.gpsil [style*="--line-clamp-mobile:"]{-webkit-box-orient:vertical;-webkit-line-clamp:var(--line-clamp-mobile);display:-webkit-box;overflow:hidden}}.gps-550611595030430512 .gp-relative{position:relative}.gps-550611595030430512 .gp-mx-auto{margin-left:auto;margin-right:auto}.gps-550611595030430512 .gp-mb-0{margin-bottom:0}.gps-550611595030430512 .gp-flex{display:flex}.gps-550611595030430512 .gp-grid{display:grid}.gps-550611595030430512 .\!gp-hidden{display:none!important}.gps-550611595030430512 .gp-hidden{display:none}.gps-550611595030430512 .gp-max-w-full{max-width:100%}.gps-550611595030430512 .gp-grid-rows-\[1fr\]{grid-template-rows:1fr}.gps-550611595030430512 .gp-flex-col{flex-direction:column}.gps-550611595030430512 .gp-transition-colors{transition-duration:.15s;transition-property:color,background-color,border-color,text-decoration-color,fill,stroke;transition-timing-function:cubic-bezier(.4,0,.2,1)}.gps-550611595030430512 .gp-duration-200{transition-duration:.2s}.gps-550611595030430512 .gp-ease-in-out{transition-timing-function:cubic-bezier(.4,0,.2,1)}@media (max-width:1024px){.gps-550611595030430512 .tablet\:\!gp-hidden{display:none!important}.gps-550611595030430512 .tablet\:gp-hidden{display:none}}@media (max-width:767px){.gps-550611595030430512 .mobile\:\!gp-hidden{display:none!important}.gps-550611595030430512 .mobile\:gp-hidden{display:none}}.gps-550611595030430512 .\[\&_\*\]\:gp-max-w-full *{max-width:100%}</style>
    
    
    

    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}

    
        <section
          class="gp-mx-auto gp-max-w-full [&_*]:gp-max-w-full {% if section.settings.section_preload == "false" %}gps-lazy {% endif %}"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--pl:none;--pl-tablet:none;--pl-mobile:none;--pr:none;--pr-tablet:none;--pr-mobile:none"
        >
          
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"#F8F8F8","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"gzH3OeWN9M"}' data-id="gzH3OeWN9M" id="gzH3OeWN9M" data-same-height-subgrid-container class="gzH3OeWN9M gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mt:var(--g-s-4xl);--pt:48px;--pb:48px;--pt-mobile:56px;--pb-mobile:56px;--cg:32px;--gtc:minmax(0, 12fr);--w:100%;--w-tablet:100%;--w-mobile:100%;--bgc:#F8F8F8;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gCfdMuR-hR gp-relative gp-flex gp-flex-col"
    >
      
    

    

    
    <gp-row gp-data='{"background":{"desktop":{"attachment":"scroll","color":"transparent","image":{"height":0,"src":"","width":0},"position":{"x":50,"y":50},"repeat":"no-repeat","size":"cover","type":"color"}},"uid":"g4ZMVYwWfW"}' data-id="g4ZMVYwWfW" id="g4ZMVYwWfW" data-same-height-subgrid-container class="g4ZMVYwWfW gp-relative gp-mx-auto gp-mb-0 gp-grid gp-max-w-full gp-transition-colors gp-duration-200 gp-ease-in-out [&_*]:gp-max-w-full gp-grid-rows-[1fr]" style="--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:grid;--d-mobile:grid;--d-tablet:grid;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:0px;--pl:15px;--pr:15px;--mb-mobile:0px;--pl-mobile:15px;--pr-mobile:15px;--mb-tablet:0px;--pl-tablet:30px;--pr-tablet:30px;--cg:32px;--gtc:minmax(0, 12fr);--w:var(--g-ct-w, 1200px);--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;--pc:start">
      

      <div
      data-same-height-display-contents
      style="--jc:start"
      class="gkivCxfi2- gp-relative gp-flex gp-flex-col"
    >
      
    {% assign locationOrigin = request.origin | append: routes.root_url | split: '/' | join: '/' %}
    <div data-id="gqekzrzVn_"
        class="gqekzrzVn_"
        style="--ta:left;--bs:none;--bw:1px 1px 1px 1px;--bc:#121212;--shadow:none;--d:block;--d-mobile:block;--d-tablet:block;--op:100%;--pageType:GP_ARTICLE;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--mb:var(--g-s-l);--dynamic-source-color:#F4F4F4"
        data-test-force-publish="1756125918659"
      >
      <div class="gp-flex" style="--jc:left">
        <div
          data-gp-text
          class=" gp-text-instant gp-text"
          style="--w:100%;--w-tablet:100%;--w-mobile:100%;--tdt:auto;--bblr:0px;--bbrr:0px;--btlr:0px;--btrr:0px;--ta:left;--line-clamp:unset;--line-clamp-tablet:unset;--line-clamp-mobile:unset;--ff:var(--g-font-body, body);--weight:400;--ls:0.5px;--size:12px;--size-tablet:16px;--size-mobile:14px;--lh:150%;--lh-tablet:150%;--lh-mobile:150%;--c:#575757;word-break:break-word;--bgc:transparent;--bgi:url();--bgp:50% 50%;--bgs:cover;--bgr:no-repeat;--bga:scroll;overflow:hidden;--tdl:"
        >
          {{ section.settings.ggqekzrzVn__text | replace: '$locationOrigin', locationOrigin }}
        </div>
      </div>
    </div>
    
    </div>

      
    </gp-row>
  
  
    </div>

      
    </gp-row>
  
        </section>
      
  
    
    
{% schema %}
  {
    
    "name": "Section 5",
    "tag": "section",
    "class": "gps-550611595030430512 gps gpsil",
    "settings": [{"type":"paragraph","content":"Section design by GemPages. [Click here to start design](https://admin.shopify.com/store/nailmondo/apps/gempages-cro/app/shopify/edit?pageType=GP_ARTICLE&editorId=550611583907136334&sectionId=550611595030430512)"},{"type":"select","label":"Section Preload","id":"section_preload","options":[{"label":"On","value":"true"},{"label":"Off","value":"false"},{"label":"Off Lazy Script","value":"off_lazy_script"}],"default":"false"},{"type":"text","label":"Checksum","id":"checksum"},{"type":"html","id":"ggqekzrzVn__text","label":"ggqekzrzVn__text","default":"<p><strong>Disclaimer</strong></p><p>Die hier getroffenen Aussagen können je nach Kunde und Erfahrung variieren, dieses hängt stets von den Fähigkeiten des Kunden ab. Die Aussagen wurde basierend auf internen Tests oder Kundenerfahrungen geäußert.</p><p>&nbsp;</p><p><strong>Haftungsausschluss</strong></p><p>Diese Website ist kein Teil der Facebook-Website oder Facebook, Inc. Darüber hinaus wird diese Website von Facebook in keiner Weise unterstützt. Facebook ist eine Marke von Facebook, Inc.Die oben genannten Ergebnisse sind unsere persönlichen Erfahrungen und die einiger Kunden. Bitte verstehe, dass unsere Ergebnisse nicht typisch sind und von Person zu Person abweichen können.Die hier gezeigten Produkte sind nicht geeignet, um Krankheiten zu diagnostizieren, zu behandeln, zu heilen oder zu verhindern. Zudem ersetzen sie keinen ärztlichen Rat oder vom Arzt verschriebene Medikamente. Im Zweifel sollte vor der Anwendung immer der Rat des Tierarztes eingeholt werde.</p>"}],
    "blocks": [{"type": "@app"}],
    "locales": {}
  }
{% endschema %}
  